.post-list {
  &__item {
    --flow-space: #{get-size(700)};
  }

  &__link {
    &,
    &:visited {
      color: var(--color-rod);
      text-decoration: none;
    }

    &:hover {
      text-decoration: none;
    }
  }
}
